@import '../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-card;
    width: 16rem;
    padding: 2.1rem;
    margin: $spacing-md;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #DECCCA;
}