@import '../../styles/variables.scss';

h1{
    font-family: $plaster-font;
    color: $title-color;
    font-size: 2.5rem;
    margin: $spacing-sm;
}

.navbar{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding-right: 7rem;
}

li{
    list-style: none;
}

.burger{
    display: none;
}

@media only screen and (max-width: 426px){

    .navbar{
        display: none;
    }

    .burger{
        display:block;
    }

    .dropdown{
        display: none;
        border-radius: 5px;
        position: absolute;
        margin-top:0;
        padding: 0;
        width: 100%;
        z-index: 1;
    }
    
    #menu:checked  ~ ul{
        display:block;
        border-radius: 5px;
    }
    
    #menu {
        display:none;
    }
    
    .burger_lines{
        box-sizing: border-box;
        display: inline-block;
        border: 0.0625rem solid $title-color;
        color: $title-color;
        background-color: $bg-menu;
        background: $bg-gradient;
        border-radius: 5px;
        width: $spacing-lg;
        height: $spacing-lg;
        line-height: $spacing-lg;
        font-weight: bold;
        text-align: center;
        user-select: none;
        margin-left: $spacing-md;
    }
    
    .option{
        display: block;
        background-color:$bg-menu;
        background: $bg-gradient;
        margin: 0;
        padding: 0.625rem;
        border-style: solid;
        border-color: rgb(14, 0, 51);
        border-width: 0.03rem;
        opacity: 0.8;
    }

    h1{
        margin: $spacing-sm auto;
    }
}